[submodule "filesys/CliMA/ClimaLand.jl"]
	path = filesys/CliMA/ClimaLand.jl
	url = git@github.com:CliMA/ClimaLand.jl.git
[submodule "filesys/pl/paperInAPaper"]
	path = filesys/pl/paperInAPaper
	url = git@github.com:Espeer5/paperInAPaper.git
[submodule "filesys/CliMA/ClimaArtifacts"]
	path = filesys/CliMA/ClimaArtifacts
	url = git@github.com:CliMA/ClimaArtifacts.git
